/**************************** 
Fox News - uReport
****************************/

article, #aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/*** Formatting ***/
html, body { height: 100%; }
body, h1, h2, h3, h4, h5, h6, form, fieldset, ul, ol, li, dl, dt, dd, table, caption, th, td, blockquote, p, address, iframe, div, br, hr { margin: 0; padding: 0; background: transparent; font-size: 100%; }
body { color: #333; font: 14px/normal Arial, sans-serif; letter-spacing: 0; word-spacing: 0; white-space: normal; }
p, li { letter-spacing: 0.00em; line-height: 1.3; }

/*** Headings ***/
h1, h2, h3, h4, h5, h6 { line-height: normal; }
#container h2 { font-size: 18px; font-weight: bold; color: #333; text-shadow: 0px 1px 0px white; }

/*** Anchors ***/
a { outline: 0 none; color: #183a52; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }

/*** Misc ***/
abbr { border: 0 none; font-variant: normal; cursor: pointer; }
fieldset, img, iframe { border: 0 none; }
address, cite { font-style: normal; }

/*** Quotes ***/
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: " "; content: none; }

/*** Lists ***/
ul, ol { list-style: none; }

/*** Form Controls ***/
legend { color: #000; }
label { font-weight: normal; white-space: normal !important; }
label, input, select, textarea, button { display: inline-block; font: 100% arial, sans-serif; vertical-align: middle; }
textarea, select[multiple="multiple"] { vertical-align: top; }
label, button, input[type="submit"] { cursor: pointer; }
input[type="text"], input[type="password"], textarea { padding: 3px; border: 1px solid #ccc; }

/*** Table ***/
table { border-collapse: collapse; }
caption { caption-side: top; }
caption, th { font-weight: normal; text-align: left; }
th, td { vertical-align: top; }
body { margin: 0; padding: 0; }

/*** Print Media ***/
@media print {
  body { font-size: 12pt; }
  h1, h2, h3, h4, h5, h6, form, fieldset, ul, ol, dl, table, blockquote, p, pre, address, div { page-break-before: avoid; page-break-after: avoid; orphans: 5; widows: 5; }
}

/*** Speech Media ***/
@media speech {
  abbr { speak: normal; }
  abbr.init { speak: spell-out; }
  h1, h2, h3, h4, h5, h6 { voice-family: paul; stress: 20; richness: 90; }
  h1 { pitch: x-low; pitch-range: 90; }
}


/*** Form Controls ***/
legend { color: #000; }
label { font-weight: normal; white-space: normal !important; }
label, input, select, textarea, button { display: inline-block; font: 100% arial, sans-serif; vertical-align: middle; }
textarea, select[multiple="multiple"] { vertical-align: top; }
label, button, input[type="submit"] { cursor: pointer; }
input[type="text"], input[type="password"], textarea { padding: 3px; border: 1px solid #ccc; }
input[type="text"]:focus { outline: none; }

/*** Table ***/
table { border-collapse: collapse; }
caption { caption-side: top; }
caption, th { font-weight: normal; text-align: left; }
th, td { vertical-align: top; }
body { margin: 0; padding: 0; }

/*** Print Media ***/
@media print {
  body { font-size: 12pt; }
  h1, h2, h3, h4, h5, h6, form, fieldset, ul, ol, dl, table, blockquote, p, pre, address, div { page-break-before: avoid; page-break-after: avoid; orphans: 5; widows: 5; }
}

/*** Speech Media ***/
@media speech {
  abbr { speak: normal; }
  abbr.init { speak: spell-out; }
  h1, h2, h3, h4, h5, h6 { voice-family: paul; stress: 20; richness: 90; }
  h1 { pitch: x-low; pitch-range: 90; }
}


/* ==|== primary styles =====================================================
   Author:  JHitchcock
   ========================================================================== */
/*** Section Head ***/
#section-head { padding: 26px 0 0; position: relative; background: #fff url("http://www.foxnews.com/static/all/img/head/header-bg.jpg") no-repeat 50% 25px; z-index: 99999; }
#section-head a { outline: 0; color: #183a52; text-decoration: none; }
#section-head a:hover { text-decoration: underline; }
#section-head dl, #section-head dt, #section-head dd, #section-head ul, #section-head li, #section-head h2, #section-head h3, #section-head p, #section-head form, #section-head fieldset { margin: 0; padding: 0; font-size: 11px; }
#section-head li { list-style: none; font-weight: bold; }
#section-head fieldset, #section-head img { border: 0; }
#section-head legend { position: absolute; left: -9999px; width: 0; height: 0; font-size: 0; overflow: hidden; }
#section-head input { outline: 0; font-family: arial, sans-serif; float: none; font-weight: normal;	display: -moz-inline-stack; display: inline-block;  }

/*** Shared ***/
#section-head .encapsulate, #section-head #nav-primary ul, #nav-sub ul { width: 977px; margin: 0 auto; }
#section-head #search-site, #section-head #show-data, #section-head #show-data li { display: -moz-inline-stack; display: inline-block; *display: inline; zoom: 1; vertical-align: top; }
#section-head, #nav-sub { font: 12px/normal arial, sans-serif; }
#section-head #util, #expand, #section-head #nav-primary, #nav-sub, #section-head .slide-1, #section-footer { min-width: 1010px; }
 
/*** Util ***/
#section-head #util { margin: 0 auto; background: #e1e1e1; background: -moz-linear-gradient(0% 100% 90deg, #d7d7d7, #e1e1e1); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#d7d7d7)); width: 100%; position: absolute; top: 0; left: 0; z-index: 8998; border-bottom: 1px solid #aaa; }
#section-head #util .encapsulate { position: relative; }
#section-head #util dl { border-right: 1px solid #fff; float: left; }
#section-head #util dt { width: 0; height: 0; position: absolute; left: -9999px; overflow: hidden; font-size: 0; }
#section-head #util dd { padding: 4px 0 7px; border-right: 1px solid #aaa; border-left: 0 none; float: left; font-weight: bold; }
#section-head #util dd a { padding: 8px 8px 6px; border-left: 1px solid #fff; position: relative; top: 1px; color: #666; text-decoration: none; text-shadow: 0 1px 0 #eee; }
#section-head #util dd a:hover, #section-head #util dd a.active:hover { padding: 8px 8px 6px; *padding: 5px 8px; background: #e1e1e1; background: -moz-linear-gradient(0% 100% 90deg,#ececec, #f0f0f0); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#ececec)); }
#section-head #util dd a.active { *padding: 5px 8px; border-bottom: 2px solid #fff; position: relative; color: #183a52; background: #fff; }
#section-head #util dd a span { width: 16px; height: 16px; display: -moz-inline-stack; display: inline-block; background: url("http://www.foxnews.com/static/all/img/head/favicons.png") no-repeat; vertical-align: bottom; }
#section-head #util dd.head-fn { border-left: 1px solid #aaa; }
#section-head #util dd.head-fn a.active span,#section-head #util dd.head-fn a:hover span { background-position: 0 -16px; }
#section-head #util dd.head-fb a span, #section-head #util dd.head-sbc a span { background-position: -16px 0; }
#section-head #util dd.head-fb a.active span, #section-head #util dd.head-fb a:hover span, #section-head #util dd.head-sbc a.active span, #section-head #util dd.head-sbc a:hover span { background-position: -16px -16px; }
#section-head #util dd.head-fr a span { background-position: -32px 0; }
#section-head #util dd.head-fr a.active span, #section-head #util dd.head-fr a:hover span { background-position: -32px -16px; }
#section-head #util dd.head-fnat a span { background-position: -48px 0; }
#section-head #util dd.head-fnat a.active span,#section-head #util dd.head-fnat a:hover span { background-position: -48px -16px; }
#section-head #util dd.head-flat a span { background-position: -64px 0; }
#section-head #util dd.head-flat a.active span,#section-head #util dd.head-flat a:hover span { background-position: -64px -16px; }
#section-head #util dd.head-fni a span { background-position: -80px 0; }
#section-head #util dd.head-fni a.active span, #section-head #util dd.head-fni a:hover span { background-position: -80px -16px; }
#section-head #util .degree { font-size: 13px; font-weight: bold; }
#section-head #util .location { text-shadow: 0 1px 0 #fff; }
#section-head #util #account { float: right; background: #e1e1e1; background: -moz-linear-gradient(0% 100% 90deg, #d7d7d7, #e1e1e1); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#d7d7d7)); }
#section-head #util #account img { padding: 0 2px 0 0; vertical-align: bottom; }
#section-head #util #account ul { padding: 7px 0 0 9px; float: right; }
#section-head #util #account p { margin-top: 1px; }
#section-head #util #account p a { text-decoration: underline; }
#section-head #util #account #authentication li { margin-left: 5px; float: left; }
#section-head #util #account #authentication li.first { margin-left: 0; }
#section-head #util #account #authentication li a { width: auto; padding: 0 3px; border: 4px solid #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background: #fff; background-position: 0 -10px; }
#section-head #util #account .username { height: 26px; border-left: 0; display: none; float: right; text-shadow: 0 1px 0 #fff; }
#section-head #util #account .username .encapsulate { width: auto; padding: 6px 8px 0 9px;}
#section-head #util #account .username { border-right: 1px solid #aaa; }
#section-head #util #account .username .encapsulate.hover { cursor: pointer; }
#section-head #util #account .username .encapsulate { height: 20px; border-left: 1px solid #fff; background: none; }
#section-head #util #account .username .encapsulate span { padding: 0 12px 0 0; background: url("http://www.foxnews.com/static/all/img/head/icon-drop-arrow.png") no-repeat right 5px; color: #666; font-size: 11px; font-style: normal; }
#section-head #util #account .username .user-options, #section-head #util #account .username .user-options p { display: none; }
#section-head #util #account .username .user-options p, #section-head #util .active .username .user-options p { margin: 0 0 10px; padding: 0 0 10px; border-bottom: 1px solid #ccc; display: block; font-size: 11px; color: #666; font-style: italic; text-align: right; }
#section-head #util #account .username .user-options p span { color: #000; font-weight: bold; font-style: normal; }
#section-head #util #account.inactive { max-width: 92px; border-right: 1px solid #fff; border-left: 1px solid #aaa; }
#section-head #util #account.inactive #authentication { display: none; }
#section-head #util #account.inactive .username, #section-head #util #account.active .username { display: block; }
#section-head #util #account.active { border-right: 1px solid #fff; border-left: 0 none; }
#section-head #util #account.active #authentication { display: none; }
#section-head #util #account.active ul { padding: 0; }
#section-head #util #account.active .username { height: 26px; border: 0 none; }
#section-head #util #account.active .username .encapsulate { width: auto; height: 26px; margin: 0; padding: 6px 8px 0 10px; border-right: 1px solid #aaa; border-left: 1px solid #aaa; display: block; position: relative; z-index: 9999; background: #fff; white-space: nowrap; }
#section-head #util #account.active .username .user-options { width: 94px; padding: 12px; *padding-bottom: 0; border: 1px solid #aaa; position: absolute; display: block; top: 31px; right: 1px; background-color: #fff; }
#section-head #util #account.active .username .user-options li { margin: 0; float: none; }
#section-head #util #account.active .username .user-options li.first { margin: 0 0 4px; }

/*** Header ***/
#header { margin: 0; padding: 12px 0; border-bottom: 1px solid #ccc; overflow: hidden; z-index: 40; background-color: #fff;}
#header .encapsulate { width: 977px; margin: 0 auto; position: relative; }
#header .encapsulate .logo { margin: 0 0 0 3px; }
#header .encapsulate img { margin: 0 25px 0 0; float: left; }
#header .encapsulate #nav-main { padding: 2px 0 0; }
#header .encapsulate #nav-main li { margin: 0 0 0 8px; padding: 0 0 0 8px; border-left: 1px solid #999; float: left; color: #183a52; font-size: 11px; text-transform: uppercase; }
#header .encapsulate #nav-main li.first { margin: 0; padding: 0; border: 0 none; }
#header .encapsulate ul li a { border: 0 none; color: #183a52; font-weight: bold; font-size: 11px; letter-spacing: normal; line-height: 1; text-decoration: none; text-transform: none; }
#header .encapsulate ul li a:hover { text-decoration: underline; }
#header .encapsulate fieldset { margin: 0; padding: 0; border: 0 none; position: absolute; top: -3px; right: 0; }
#header .encapsulate .search-field { width: 133px; padding: 3px; font-size: 11px; font-family: Arial,sans-serif; }
#header .encapsulate .search-btn, #header .encapsulate .search-btn:visited { width: auto; margin: -1px 0 0 2px; padding: 2px 6px; border: 1px solid #999; display: -moz-inline-stack; display: inline-block; background: none; background: #e4e4e4; background: -moz-linear-gradient(0% 100% 90deg,#e4e4e4,#fff); background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#e4e4e4)); -moz-box-shadow: 0 0 5px #ccc; -webkit-box-shadow: 0 0 5px #ccc; box-shadow: 0 0 5px #ccc; color: #183a52; font-weight: bold; font-size: 11px; font-family: Arial, sans-serif; letter-spacing: -0.01em; text-decoration: none; text-shadow: 0 1px 0 #fff; cursor: pointer; }
#header .encapsulate .search-btn:hover, #header .encapsulate .search-btn:active { border-color: #aeaeae; background: #ddd; background: -moz-linear-gradient(0% 100% 90deg,#ddd, #fff); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd)); color: #295d81; text-decoration: none; }

body { background: url(../img/bg.png); font-family: arial, san-serif; }
#container { width: 973px; margin: 0 auto; letter-spacing: 0em; }

#ur-h { margin: 25px 0 35px; }
#ur-h img { display: inline-block; vertical-align: top; }
#ur-h .ur-nav { display: inline-block; vertical-align: top; margin: 15px 0 0 22px;}
#ur-h .ur-nav ul:first-child { display: inline-block; font-size: 11px; font-weight: bold; }
#ur-h .ur-nav ul:first-child li:first-child { color: #b00;  padding: 0 3px 0 0; }
#ur-h .ur-nav ul:first-child li+li {background: url(../img/uReport-icon-sprite.png) no-repeat 0 -31px; padding: 0 0 0 17px;}
#ur-h .ur-nav ul:first-child li { color: #183a52; }
#ur-h .ur-nav ul:first-child li+li+li { color: #183a52; background: url(../img/uReport-icon-sprite.png) no-repeat 0 -55px; margin: 0 0 0 8px; padding: 0 0 0 13px; }
#ur-h .ur-nav ul li { display: inline-block; vertical-align: top; }
#ur-h .ur-nav ul+ul { width: 659px; height: 32px; margin: 14px 0 0 0; position: relative; background: #ffffff; background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.45); -moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.45); box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.45); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

#ur-h .ur-nav ul+ul li:first-child {  border-left: none; margin: 0 -1px 0 0;} 
#ur-h .ur-nav ul+ul li:first-child:hover { margin: 0 -1px 0 0; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
#ur-h .ur-nav ul+ul a { display: block; padding: 10px 20px 8px 20px; font-size: 12px; font-weight: bold; color: #666; text-shadow: 0px 1px 0px #fff; }
#ur-h .ur-nav ul+ul a:hover { text-decoration: none; }
#ur-h .ur-nav ul+ul li { height: 32px; border-left: 1px solid #dedede; margin: 0 0 0 -4px; }
#ur-h .ur-nav ul+ul li:hover { background-color: #fff; margin: 0 0 0 -4px; }
#ur-h .ur-nav ul+ul li:active {  margin: 0 0 0 -4px; background: #f2f2f2; background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 100%); background: -o-linear-gradient(top, #f2f2f2 0%,#ffffff 100%); background: -ms-linear-gradient(top, #f2f2f2 0%,#ffffff 100%); background: linear-gradient(top, #f2f2f2 0%,#ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); }
#ur-h .ur-nav ul+ul li.active { background-color: #fff; filter: none; }
#ur-h .ur-nav ul+ul li:first-child.active { margin: 0 0 0 0; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }

/*** Search Field ***/
#ur-h .ur-nav ul+ul li input[type="text"] { height: 14px; width: 165px; position: absolute; top: 5px; right: 28px; border-top: solid 1px #dbdbdb; border-right: none; border-left: 1px solid #fff; border-bottom: 1px solid #fff; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; font-size: 11px; font-style: italic; color: #666; padding-left: 10px; }
#ur-h .ur-nav ul+ul li input[type="text"]:focus { font-style: normal; color: #000; }
#ur-h .ur-nav ul+ul li+li+li+li+li:hover {background: none;}
#ur-h .ur-nav ul+ul li button { width: 25px; height: 22px; margin: 0 0 0 -5px; text-indent: -9999px; position: absolute; top: 5px; right: 5px; background: #ececec url(../img/uReport-icon-sprite.png) no-repeat -3px -471px; border-top: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb; border-bottom: 1px solid #fff; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }

.ie7 #ur-h img { display: inline; zoom: 1; }
.ie7 #ur-h .ur-nav { display: inline; zoom: 1; }
.ie7 #ur-h .ur-nav ul:first-child { display: inline; zoom: 1; }
.ie7 #ur-h .ur-nav ul li { display: inline; zoom: 1; }

html.ie8 #ur-h .ur-nav ul+ul li a { margin-right: -4px; padding: 0; }
html.ie7 #ur-h .ur-nav ul+ul li a { padding: 0; }
.oldie #ur-h .ur-nav { margin: 15px 0 0 15px; }
.oldie #ur-h .ur-nav ul+ul li:first-child { margin: 0; }
.oldie #ur-h .ur-nav ul+ul { filter: none; background: transparent; height: 38px; margin-left: -4px; width: 670px; }
.oldie #ur-h .ur-nav ul+ul li:hover { filter: none; background: transparent; }
.oldie #ur-h .ur-nav ul+ul li.active { filter: none; background: transparent; height: 38px;}
.oldie #ur-h .ur-nav ul+ul li+li.active { margin: 0 0 0 0px; }
.oldie #ur-h .ur-nav ul+ul li.active a { background-position-y: -36px; }
.oldie #ur-h .ur-nav ul+ul li:first-child.active a { background-position-y: -36px; }
.oldie #ur-h .ur-nav ul+ul li a { text-indent: -9999px; margin: 0; display: block; }
.oldie #ur-h .ur-nav ul+ul li { border: none; padding: 0; margin-left: 0px; }

.oldie #ur-h .ur-nav ul+ul li:first-child a { display: block; background: url(../img/ie-ureport-sprite.png) no-repeat 0px 0px; width: 75px; height: 38px; }
.oldie #ur-h .ur-nav ul+ul li:first-child a:hover { background-position-y: -36px; }
.oldie #ur-h .ur-nav ul+ul li+li a { background: url(../img/ie-ureport-sprite.png) no-repeat -75px 0px; width: 108px; height: 38px; }
.oldie #ur-h .ur-nav ul+ul li+li+li a { background: url(../img/ie-ureport-sprite.png) no-repeat -183px 0px; width: 127px; height: 38px; }
.oldie #ur-h .ur-nav ul+ul li+li+li+li a { background: url(../img/ie-ureport-sprite.png) no-repeat -310px 0px; width: 63px; height: 38px; }
.oldie #ur-h .ur-nav ul+ul li+li+li+li+li { background: url(../img/ie-ureport-sprite.png) no-repeat -373px 0px; width: 295px; height: 38px; }
.oldie #ur-h .ur-nav ul+ul li+li+li+li+li:hover { background: url(../img/ie-ureport-sprite.png) no-repeat -373px 0px; }
.oldie #ur-h .ur-nav ul+ul li a:hover { background-position-y: -36px; }

.oldie #ur-h .ur-nav input[type="text"] { border: none; border: 0; border-top: 0; width: 148px; height: 12px; top: 10px; right: 39px; }
.oldie #ur-h .ur-nav ul+ul li button { border: 0; border: none; top: 9px; right: 12px; width: 23px; height: 21px; } 

/*** subhead ***/
.bottom-line { border-bottom: 1px solid #bababa; -webkit-box-shadow: 0px 1px 0px #fff; -moz-box-shadow: 0px 1px 0px #fff; box-shadow: 0px 1px 0px #fff; }
.ie8 .bottom-line, .ie7 .bottom-line { background: url(../img/hr.png) 0 -4px repeat-x; border: none; }
.ie7 #container .subhead h2 { background: none; }
.ie7 .bottom-line { zoom: 1; }
.ie8 .subhead ul, .ie7 .subhead ul { padding: 0 0 2px; }
.top-line { border-top: 1px solid #fff; -webkit-box-shadow: 0px -1px 0px #bababa; -moz-box-shadow: 0px -1px 0px #bababa; box-shadow: 0px -1px 0px #bababa; }
.ie8 .top-line, .ie7 .top-line { background: url(../img/hr.png) 0 -28px repeat-x; border: none; }
.subhead { margin: 0 0 12px; font-size: 12px; font-weight: bold; position: relative; }
.subhead ul li { display: inline-block; vertical-align: top; height: 26px; padding: 0 20px; border-top: 1px solid #bababa; border-right: 1px solid #bababa; border-left: 1px solid #bababa; margin: 0 0 0 -4px; background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); }
.subhead ul li:hover { background: #fff; filter: none; }
.ie9 .subhead ul li { margin: 0 0 -2px -4px; }
.ie7 .subhead ul li { display: inline; zoom: 1; }
.ie7 .subhead ul li:hover, .ie8 .subhead ul li:hover { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); }

.ie8 #container .subhead { background-position: 0 -4px; }
.ie8 #container .subhead h2 { background: none;  padding: 0 0 5px 0; }
.ie8 #container .subhead ul { padding: 0 0 6px; }

.subhead ul li:active { background: #f2f2f2; background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 100%); background: -o-linear-gradient(top, #f2f2f2 0%,#ffffff 100%); background: -ms-linear-gradient(top, #f2f2f2 0%,#ffffff 100%); background: linear-gradient(top, #f2f2f2 0%,#ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); }
.subhead ul li.active { background: #fff; filter: none; }
.subhead ul li:first-child { margin: 0 -4px 0 0px; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px; }
.subhead ul li.last { -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; border-top-right-radius: 2px; }
.subhead ul li a { color: #666; margin: 6px 0 0; display: block; text-shadow: 0px 1px 0px white; }
.ie7 .subhead ul { background: url(../img/hr.png) repeat-x 0 -1px; }

#main { width: 661px; display: inline-block; vertical-align: top; margin: 0 9px 24px 0; text-shadow: 0px 1px 0px white; }
.ie7 #main { display: inline; zoom: 1; margin: 0 16px 0 0; } 
.ie7 .index-page .bottom-line { background: none; }
.ie8 #container.index-page .subhead { background-position: 0 -1px; }

.bottom-line a:hover { text-decoration: none; }

/*** main featured module ***/
#main-featured-module { margin: 0 0 20px -8px; }
.ie7 #main-featured-module { margin: 0 0 20px -10px; }
#main-featured-module li { position: relative; width: 212px; height: 120px; display: inline-block; vertical-align: top; margin: 0 0 11px 8px; border-bottom: 1px solid #fff; }
.ie7 #main-featured-module li { display: inline; zoom: 1; margin: 0 0 11px 11px; } 
#main-featured-module li img { position: absolute; top: 0; bottom: 0; }
#container .thumb-overlay { position: absolute; top: 0; left: 0; z-index: 10; width: 212px; height: 120px; background: url(../img/uReport-icon-sprite.png) no-repeat 0 -610px; -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75); -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75); box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75); }
#main-featured-module a:hover { text-decoration: none; }
#container .thumb-overlay span { display: block; color: #ccc; margin: 10px 0 3px 10px; font-size: 11px; text-transform: uppercase; text-shadow: none; }
#container .thumb-overlay h2 { display: block; color: #fff; font-size: 16px; font-weight: bold; line-height: 20px; margin: 0 0 0 10px; text-shadow: none; }
#container .thumb-overlay em { display: block; color: #fff; font-size: 12px; margin: 3px 0 0 10px; text-shadow: none; }
#container .thumb-overlay span.corn-arrow { position: absolute; bottom: 8px; right: 11px; background: url(../img/uReport-icon-sprite.png) no-repeat -41px -524px; width: 9px; height: 11px; margin: 0; }

/*** featured assignments ***/
#feat-assign { height: 267px; }
#feat-assign h2 { height: 27px; background: url(../img/uReport-icon-sprite.png) no-repeat -175px -71px; padding: 4px 0 0 34px; }
#feat-assign ul.nav { margin: 7px 0 0; text-align: center; }
#feat-assign ul.nav li { width: 10px; height: 10px; margin: 0 1px; display: inline-block; vertical-align: top; }
.ie7 #feat-assign ul.nav li { display: inline; zoom: 1; } 
#feat-assign ul.nav li a { width: 10px; height: 10px; margin: 0 1px; background: url(../img/uReport-icon-sprite.png) no-repeat 0 -455px; display: inline-block; vertical-align: top; text-indent: -9999px; }
.ie7 #feat-assign ul.nav li a { display: inline; zoom: 1; font-size: 0; text-transform: capitalize; text-indent: 0; } 
.ie7 #feat-assign ul.nav li  { margin: 0 3px 0 3px; } 
#feat-assign ul.nav li a:hover { background-position: -15px -455px; }
#feat-assign ul.nav li.active a { background-position: -15px -455px; }
.ie8 #feat-assign, .ie7 #feat-assign { background: url(../img/hr.png) repeat-x 0 3px; } 
.slide-wrapper { position: relative; }
.slide { width: 570px; height: 200px; position: absolute; top: 0; left: 48px; overflow: hidden; margin: 0 auto 20px; }
.slide ul { width: 9999px; margin: 0 0 0 -10px; }
.ie7 .slide ul { margin: 0 0 0 -14px; }
.slide ul li { display: inline-block; vertical-align: top; width: 178px; margin: 0 0 0 10px; }
.ie7 .slide ul li { display: inline; zoom: 1; margin: 0 0 0 15px; } 
.slide ul li img { border: 1px solid #fff; -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75); -moz-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75); box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75); }
.slide ul li h3 { font-size: 14px; font-weight: bold; color: #183a52; text-shadow: 0px 1px 0px white; margin: 5px 0 0; }
.slide ul li p { font-size: 12px; color: #292929; text-shadow: 0px 1px 0px white; margin: 5px 0 0; }
.left-but { position: absolute; top: 40px; left: 0px; background: url(../img/uReport-icon-sprite.png) no-repeat -67px -384px; width: 31px; height: 30px; cursor: pointer; }
.right-but { position: absolute; top: 40px; right: 0px; background: url(../img/uReport-icon-sprite.png) no-repeat -117px -384px; width: 31px; height: 30px; cursor: pointer; }
.left-but:hover { background-position: -67px -424px; }
.right-but:hover { background-position: -117px -424px; }
.left-but:active { background-position: -67px -463px; }
.right-but:active { background-position: -117px -463px; }
.left-but.inactive { background-position: -67px -503px; cursor: default; }
.right-but.inactive { background-position: -117px -503px; cursor: default; }

/*** bottom modules ***/
.r { margin: 0 0 0 -12px; }
.sub-col { width: 322px; margin: 0 0 0 12px; display: inline-block; vertical-align: top; }
.ie7 .sub-col { display: inline; zoom: 1; } 

/*** featured uReporters ***/
.feat-reporters { height: 203px; margin: 0 0 28px; }
.feat-reporters h2 { height: 27px; background: url(../img/uReport-icon-sprite.png) no-repeat -175px -302px; margin: 4px 0 12px 0; padding: 4px 0 0 44px; }  
.feat-reporters ul { margin: 0 0 0 22px; }
.feat-reporters ul li { display: inline-block; vertical-align: top; margin: 0 0 8px 10px; }  
.ie7 .feat-reporters ul li { display: inline; zoom: 1; } 
.feat-reporters ul li img { border-bottom: 1px solid #fff; }
.browse { font-size: 12px; font-weight: bold; color: #183a52; background: url(../img/uReport-icon-sprite.png) no-repeat 117px -44px; padding: 0 10px 0 0; float: right; }

/*** just the utip ***/
.utip { margin: 0 0 25px; }
.utip .tip-icon { width: 48px; height: 30px; background: url(../img/uReport-icon-sprite.png) no-repeat 0 -564px; display: inline-block; vertical-align: top; margin: 12px 18px 0 0; }
.ie7 .utip .tip-icon { display: inline; zoom: 1; } 
.utip p { width: 250px; display: inline-block; vertical-align: top; font-size: 14px; margin: 12px 0 0 0; text-shadow: 0px 1px 0px white; }  
.ie7 .utip p { display: inline; zoom: 1; } 
.utip p span { width: 250px; display: block; font-weight: bold; }
.utip .browse { background-position: 66px -45px; margin: 7px 0 0 0; padding: 0 14px 0 0; }

/*** as seen ***/
.as-seen h2 { background: url(../img/uReport-icon-sprite.png) no-repeat -175px -223px; padding: 3px 0 0 40px; margin: 5px 0 11px 0; height: 27px; }
.as-seen .img-overlay { position: relative; margin: 0 0 12px; }
.as-seen .img-overlay span { position: absolute; bottom: 3px; font-size: 18px; font-weight: bold; color: #fff; display: block; background-color: rgba(0,0,0,.5); width: 304px; padding: 10px; }
.oldie .as-seen .img-overlay span { background: url(../img/blk-bg-trans.png); }
.as-seen .img-overlay span a { color: #fff; text-shadow: none; }
.as-seen .browse { background-position: 66px -45px; margin: 7px 0 0 0; padding: 0 12px 0 0; }
.profile img { display: inline-block; vertical-align: top; -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1); -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1); box-shadow: 0px 1px 0px rgba(255, 255, 255, 1); }
.ie7 .profile img { display: inline; zoom: 1; } 
.profile p { display: inline-block; vertical-align: top; width: 249px; margin: -3px 0 8px 8px; text-shadow: 0px 1px 0px white; }  
.ie7 .profile p { display: inline; zoom: 1; } 
.profile p span { display: block; font-size: 14px; font-weight: bold; color: #183a52; margin: 0 0 5px; }
.profile p em { display: block; font-size: 12px; }
.profile p em a { font-weight: bold; color: #183a52; }


/*** sidebar ***/
#aside { display: inline-block; vertical-align: top; width: 296px; }
.ie7 #aside { display: inline; zoom: 1; } 

#aside .sidebar-ad { width: 300px; height: 250px; margin: 0 0 44px; }
#aside .sidebar-ad span { width: 79px; height: 5px; margin: 4px 0 0; float: right; background: url(../img/ureport-icon-sprite.png) no-repeat -27px -369px; text-indent: -9999px; }

#aside .what-is-module { display: block; overflow: hidden; margin: 0 0 28px; text-shadow: 0px 1px 0px white; }
#aside .what-is-module h2 { padding: 0 0 8px; margin: 0 0 8px; }
#aside .what-is-module p { font-size: 13px; margin: 0 0 22px; }
#aside .what-is-module .browse { margin: -12px 0 0; display: block; background-position: 70px -45px; }

#aside .stats-module { text-shadow: 0px 1px 0px white; margin: 0 0 33px; }
#aside .stats-module h2 { margin: 0 0 8px; }
#aside .stats-module li { height: 35px; color: #333; border-top: 1px solid #fff; -webkit-box-shadow: 0px -1px 0px #bababa; -moz-box-shadow: 0px -1px 0px #bababa; box-shadow: 0px -1px 0px #bababa;  }
.ie8 #aside .stats-module li { background: url(../img/hr.png) repeat-x 0 -29px; border-top: none; }
.ie7 #aside .stats-module li { background: url(../img/hr.png) repeat-x 0 -28px; border-top: none; }
#aside .stats-module li p { padding: 10px 0 0 51px; height: 22px; display: inline-block; vertical-align: top; font-size: 13px; font-weight: bold; background: url(../img/ureport-icon-sprite.png) no-repeat 8px -142px; }
.ie7 #aside .stats-module li p { display: inline; zoom: 1; } 
#aside .stats-module li.approved p { background-position: -167px -142px; }
#aside .stats-module li.as-seen p { background-position: -170px -218px; }
#aside .stats-module li.total p { background-position: -173px -259px; }
#aside .stats-module li.featured p { background-position: -173px -299px; }
#aside .stats-module li.images p { background-position: -167px -177px; }
#aside .stats-module li.video p { background-position: -183px -352px; }
#aside .stats-module li.contributed p { background-position: -173px -69px; }

.ie8 #aside .stats-module li { border-top: 1px solid #bababa; }


#aside .stats-module li span { display: block; float: right; background-color: #fff; padding: 3px 12px; margin: 4px 0 0 0;  font-size: 14px; font-weight: bold; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.40); -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.40); box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.40); }
.ie9 #aside .stats-module li span, .ie8 #aside .stats-module li span { background: url(../img/stat-mid) repeat-x 0 0; border-radius: 0; box-shadow: none; height: 27px; padding: 3px 3px 0; margin: 3px 10px 0 0; }
.ie9 #aside .stats-module li span:after, .ie8 #aside .stats-module li span:after { content: url("../img/stat-right.png"); height: 27px; width: 11px; margin: -3px -14px 0 0; float: right; }
.ie9 #aside .stats-module li span:before, .ie8 #aside .stats-module li span:before { content: url("../img/stat-left.png"); height: 27px; width: 11px; margin: -3px 0 0 -14px; float: left; }
.ie7 #aside .stats-module li span { margin: -25px 0 0 0; }

/*** newsletter module ***/
#aside .newsletter-module { margin: 0 0 35px; }
#aside .newsletter-module h2 { padding: 0 0 8px; margin: 0 0 8px; }
#aside .newsletter-module p { font-size: 13px; text-shadow: 0 1px 0 #fff; margin: 0 0 12px; }
#aside .newsletter-module input { width: 210px; height: 29px; margin: 0; padding: 0 0 0 10px; border-top: 1px solid #c9c9c9; border-right: 0px; border-bottom: 0px; border-left: 0px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 12px; font-style: italic; color: #666; }
#aside .newsletter-module input:focus { font-style: normal; outline: none; color: #000; }
.ie7 #aside .newsletter-module input { padding: 6px 0 0 12px; margin: 0 5px 0 0px; height: 22px; width: 201px; }
.ie8 #aside .newsletter-module input { height: 0; padding: 7px 0 8px 12px; height: 14px; width: 202px; }
#aside .newsletter-module button { width: 68px; height: 30px; margin: 0 0 0 4px; padding: 3px 0 0; font-size: 12px; font-weight: bold; border: 0px; color: #333; webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.40); -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.40); box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.40); }
.ie9 #aside .newsletter-module input { width: 204px; }
.ie9 #aside .newsletter-module button, .ie8 #aside .newsletter-module button, .ie7 #aside .newsletter-module button { background: url(../img/ie-ureport-sprite.png) no-repeat -3px -79px; width: 74px; height: 33px; text-indent: -9999px; box-shadow: none; border-radius: none; }
.ie9 #aside .newsletter-module button:hover, .ie8 #aside .newsletter-module button:hover, .ie7 #aside .newsletter-module button:hover { background: url(../img/ie-ureport-sprite.png) no-repeat -3px -119px; width: 74px; height: 33px; text-indent: -9999px; box-shadow: none; border-radius: none; }
.ie9 #aside .newsletter-module button:active, .ie8 #aside .newsletter-module button:active, .ie7 #aside .newsletter-module button:active { background: url(../img/ie-ureport-sprite.png) no-repeat -3px -158px; width: 74px; height: 33px; text-indent: -9999px; box-shadow: none; border-radius: none; }
#aside .newsletter-module button:hover { background: #fff; }
#aside .newsletter-module button:active { background: #fff; -webkit-box-shadow: inset 0px 0px 6px rgba(50, 50, 50, 0.40); -moz-box-shadow: inset 0px 0px 6px rgba(50, 50, 50, 0.40); box-shadow: inset 0px 0px 6px rgba(50, 50, 50, 0.40); background: -moz-linear-gradient(top, #e0e0e0 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top, #e0e0e0 0%,#ffffff 100%); background: -o-linear-gradient(top, #e0e0e0 0%,#ffffff 100%); background: -ms-linear-gradient(top, #e0e0e0 0%,#ffffff 100%); background: linear-gradient(top, #e0e0e0 0%,#ffffff 100%); }

/*** map page ***/
#big-map { border: 1px solid #aaa; margin: 0 0 17px; -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1); -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1); box-shadow: 0px 1px 0px rgba(255, 255, 255, 1); }
#map-about h2 { height: 27px; background: url(../img/uReport-icon-sprite.png) no-repeat -174px -108px; padding: 4px 0 0 24px; margin: 0 0 13px; }
.ie8 #map-about, .ie7 #map-about { background: url(../img/hr.png) repeat-x 0 3px; } 
#map-about p { margin: 0 0 12px; font-size: 13px; color: #333; text-shadow: 0px 1px 0px #fff; }
.ie7 .map-page .bottom-line { background: none; }
.ie8 #container.map-page .subhead { background-position: 0 -1px; }

/*** single report page ***/
.subhead h2 { margin: 0 0 5px 0; font-size: 14px; font-weight: bold; color: #183a52; text-shadow: 0px 1px 0px #fff; }
.ie7 .subhead h2, .ie8 .subhead h2 { height: 22px; background: url(../img/hr.png) 0 -8px repeat-x; border: none; }
.subhead .sub-pag { position: absolute; top: -2px; right: 0; } 
.ie7 .subhead .sub-pag { zoom: 1; } 
.subhead .sub-pag a:first-child span { display: inline-block; vertical-align: top; width: 112px; height: 24px; margin: 0 -4px 0 0; background: url(../img/ureport-icon-sprite.png) no-repeat 0px -751px; text-indent: -9999px; }
.ie7 .subhead .sub-pag a:first-child span { display: inline; zoom: 1; font-size: 0; text-transform: capitalize; text-indent: 0; line-height: 0 }
.subhead .sub-pag a:first-child span:hover { background-position: 0px -777px; }
.subhead .sub-pag a:first-child span:active { background-position: 0px -803px; }
.subhead .sub-pag a:first-child span.inactive { background-position: 0px -829px; }
.subhead .sub-pag a+a span { display: inline-block; vertical-align: top; width: 92px; height: 24px; background: url(../img/ureport-icon-sprite.png) no-repeat -112px -751px; text-indent: -9999px; }
.ie7 .subhead .sub-pag a+a span { display: inline; zoom: 1; font-size: 0; text-transform: capitalize; text-indent: 0; line-height: 0; }
.subhead .sub-pag a+a span:hover { background-position: -112px -777px; }
.subhead .sub-pag a+a span:active { background-position: -112px -803px; }
.subhead .sub-pag a+a span.inactive { background-position: -112px -829px; }

#main h1 { font-size: 24px; font-weight: bold; color: #292929; margin: 0 0 14px; }
#media-box { border: 1px solid #ffffff; background: url(../img/texture-blk-bg.jpg); width: 660px; height: 375px; margin: 0 0 23px 0; display: table-cell; vertical-align: middle; text-align: center; -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.17); -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.17); box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.17); }
.ie7 #media-box { position: relative; text-align: center; margin: 0 0 4px; }
.ie7 #media-box .media-container { position: absolute; top: 50%; left: 50%; }
.ie7 #media-box .media-container img { position: relative; top: -50%; left: -50%; }

.single-col { display: inline-block; vertical-align: top; width: 467px; margin: 23px 0 26px 0; }
.ie7 .single-col { display: inline; zoom: 1; }
.single-col+.single-col {width: 181px; }
.single-col p { font-size: 12px; color: #333; text-shadow: 0px 1px 0px white; margin: 0 0 22px 0; } 
.single-col em { display: block; margin: 0 0 8px 0; font-size: 11px; font-weight: bold; color: #777; font-style: normal; text-transform: uppercase; }
.tags { margin: 0 0 18px 0; }
.tags span { display: inline-block; vertical-align: top; font-size: 11px; font-weight: bold; color: #183a52; }
.ie7 .tags span { display: inline; zoom: 1; }
.tags span+span { padding: 0 0 0 13px; margin: 0 0 0 13px; background: url(../img/ureport-icon-sprite.png) no-repeat 0 -57px; }

.single-col .fb_edge_widget_with_comment { display: inline-block; vertical-align: top; width: 55px; }
.ie7 .single-col .fb_edge_widget_with_comment { display: inline; zoom: 1; }
.single-col iframe {display: inline-block; vertical-align: top; width: 63px !important; } 
.ie7 .single-col iframe { display: inline; zoom: 1; } 
.single-col .share #___plusone_0 { display: inline-block; vertical-align: top !important; width: 58px !important; }  
.ie7 .single-col .share #___plusone_0 { display: inline; zoom: 1; }  

.single-col+.single-col em { margin: 0 0 5px 0; }
.single-col+.single-col a { display: block; font-size: 13px; font-weight: bold; color: #183a52; margin: 0 0 10px 0; }
.single-col+.single-col span { display: block; font-size: 13px; font-weight: bold; color: #333; margin: 0 0 10px 0; }

.single-col+.single-col .small-map { width: 178px; height: 178px; border: 1px solid #aaa; -webkit-box-shadow: 0px 1px 0px #fff; -moz-box-shadow: 0px 1px 0px #fff; box-shadow: 0px 1px 0px #fff; }

.ie9 .single-col { margin-right: 4px; }

/*** more module ***/
.ie7 .more-module, .ie8 .more-module { background: url(../img/hr.png) repeat-x 0 3px; }
.more-module h2:first-child { height: 27px; background: url(../img/uReport-icon-sprite.png) no-repeat -174px -303px; padding: 4px 0 0 46px; margin: 0 0 13px 0; }
.more-module ul { margin: 0 0 20px -8px; }
.ie7 .more-module ul { margin: 0 0 20px -11px; }
.more-module li { position: relative; width: 212px; height: 120px; display: inline-block; vertical-align: top; margin: 0 0 11px 8px; border-bottom: 1px solid white; }
.ie7 .more-module li { margin: 0 0 11px 12px;}
.ie7 .more-module li { display: inline; zoom: 1; } 
.more-module a { text-decoration: none; }
 
/*** browse module ***/
.browse-module { margin: 0 0 28px; height: 93px; }
.browse-module h2 { margin: 0 0 8px 0; padding: 0 0 8px 0; }
.browse-module .slide-wrapper { height: 93px; }
.browse-module .slide { left: 22px; width: 259px; height: 62px; top: 1px; }
.ie7 .browse-module .slide ul { margin: 0; }
.browse-module .slide ul li { width: 50px; }
.ie7 .browse-module .slide ul li { width: 60px; margin: 0 4px 0 0; }
.browse-module .left-but { width: 23px; height: 61px; top: 1px; left: -2px; background-position: 0px -854px; }
.browse-module .left-but:hover { background-position: -46px -854px; }
.browse-module .left-but:active { background-position: -92px -854px; }
.browse-module .left-but.inactive { background-position: -138px -854px; }
.browse-module .right-but { width: 23px; height: 61px; top: 1px; left: 276px; background-position: -24px -854px; }
.browse-module .right-but:hover { background-position: -70px -854px; }
.browse-module .right-but:active { background-position: -117px -854px; }
.browse-module .right-but.inactive { background-position: -162px -854px; }

/*** aside utip ***/
#aside .utip { overflow: hidden; }
#aside .utip p { width: 233px; font-size: 13px; }
#aside .utip p span { margin: 0 0 5px 0; }
#aside .utip .tip-icon { width: 48px; margin: 12px 11px 0 0; }

/*** assignment page ***/
#container.a-pg .subhead h2 { color: #333; font-size: 14px; }
.a-pg .summary .sub-col { width: 325px; margin: 0 12px 0 0; }
.a-pg .summary .sub-col+.sub-col { width: 320px; margin: 0 0 0 0; }
.a-pg .summary .sub-col+.sub-col p { font-size: 13px; margin: 0 0 20px 0; }
.a-pg .summary .sub-col img { border: 1px solid #fff; -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.55); -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.55); box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.55); }
.a-pg .summary .sub-col button { width: 157px; height: 44px; margin: 8px 0 0 0; float: right; background: url(../img/ureport-icon-sprite.png) no-repeat 0 -1040px; text-indent: -9999px; border: none; }
.a-pg .summary .sub-col button:hover { background-position: 0 -1084px; }
.a-pg .summary .sub-col button:active { background-position: 0 -1128px; }
.a-pg .subhead ul li { padding: 1px 15px; }
.a-pg .browse-module { margin: 39px 0 28px 0; }
.a-pg #main-featured-module { margin: 0 0 12px -8px; }
.ie7 .a-pg #main-featured-module { position: relative; z-index: -2; margin: 0 0 12px -11px; }
.btm-pag { display: block; margin: 0 auto 23px auto; text-align: center; position: relative; }
.btm-pag .left-but { position: relative; top: 0; background: url(../img/ureport-icon-sprite.png) no-repeat -153px -468px; }
.btm-pag .left-but:hover { background-position: -153px -496px; }
.btm-pag .left-but:active { background-position: -153px -524px; }
.btm-pag .left-but.inactive { background-position: -153px -553px; }
.btm-pag .right-but { position: relative; top: 0; background: url(../img/ureport-icon-sprite.png) no-repeat -182px -468px; }
.btm-pag .right-but:hover { background-position: -182px -496px; }
.btm-pag .right-but:active { background-position: -182px -524px; }
.btm-pag .right-but.inactive { background-position: -182px -553px; }
.btm-pag li { display: inline-block; vertical-align: top; width: 26px; height: 27px; background: url(../img/ureport-icon-sprite.png) no-repeat -153px -384px; text-align: center; font-size: 13px; font-weight: bold; }
.oldie .btm-pag li, .ie9 .btm-pag li { font-size: 12px; }
.btm-pag li:hover { background-position: -153px -411px; }
.btm-pag li:active { background-position: -153px -438px; }
.btm-pag li.active { background-position: -153px -438px; }
.btm-pag li a { display: block; color: #666; margin: 6px 0 0 1px; }
.btm-pag li a,  x:-moz-any-link, x:default  { margin: 5px 0 0 0px; }
.btm-pag li a:hover { text-decoration: none; }
.btm-pag li a:active { color: #fff; text-shadow: 0px 1px 0px #000; }
.btm-pag li.active a { color: #fff; text-shadow: 0px 1px 0px #000; }
.btm-pag li.elip { background: none; color: #666; margin: 6px 0 0 0; }
.a-pg .summary .sub-col .double-button { float: right; margin: 8px 0 0 0; }
.ie7 .btm-pag li { display: inline; zoom: 1; margin: 0 4px 0 0; }
.ie7 .btm-pag li a { margin: 5px 0 0 0; }
.ie8 #container.a-pg #main .subhead { background-position: 0 1px; }
.ie7 #container.a-pg #main .subhead { background-position: 0 -1px; }

/*** Drops ***/
.subhead .drop-container { display: inline-block; vertical-align: top;  position: relative; z-index: 9999; }
.subhead .drop-container span { -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px;}
.subhead .drop-container+.drop-container span { -webkit-border-top-left-radius: 0px; -moz-border-radius-topleft: 0px; border-top-left-radius: 0px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; border-top-right-radius: 2px;}
.ie7 .subhead .drop-container { display: inline; zoom: 1; }
.subhead .drop .item { display: block; margin: 7px 0 0 0; padding: 0 60px 0 0; background: url(../img/ureport-icon-sprite.png) no-repeat 68px -16px; color: #666; }
.subhead .drop span { display: inline-block; vertical-align: top; position: relative; top: 0; left: 3px; height: 26px; padding: 0 0 0 13px; z-index: 9999; border-top: 1px solid #bababa; border-right: 1px solid #bababa; border-left: 1px solid #bababa; margin: 0 0 0 -4px; background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); }
.subhead .drop:hover { background: #fff; filter: none; }
.subhead .drop span:hover { background: #fff; filter: none; }
.subhead .drop-menu li { display: block; height: initial; border: none; background: #fff; margin: 0; padding: 1px 0 5px 9px; filter: none; } 
.subhead .drop-menu li:first-child { margin: 0; } 
.ie8 .subhead .drop-menu li:first-child { margin: 5px 0 0 0; } 
.subhead .drop-menu li a { padding: 0 3px 0 0; } 
.subhead .drop-menu li a:hover { text-decoration: none;} 
.subhead .drop-menu li:hover { background: #eee; color: #000; display: block; }
.subhead .drop-menu { position: absolute; padding: 7px 0 4px 0; margin: 0; top: 26px; left: -1px; z-index: 9; min-width: 123px; background: #fff; border: 1px solid #bababa; -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.17); -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.17); box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.17); }
.subhead .drop-container+.drop-container .drop-menu { width: 197px; }
.subhead .drop-container+.drop-container .drop .item { background-position: 108px -16px; }
.a-pg .subhead .drop-container { position: absolute; top: 2px; right: 3px; }
.ie7 .a-pg .subhead .drop-container { top: 0px; }
.a-pg .subhead .drop-container span { -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; border-top-right-radius: 2px; }
.a-pg .subhead .drop .item { padding: 0 51px 0 0; background-position: 63px -16px; }
.ie9 .subhead .drop-menu li { margin: 0 0 0 0 !important; height: inherit; }
.ie7 .subhead .drop-menu li { height: 100%; width: 100%; display: block; overflow: auto; }
.ie7 .subhead .drop span { left: -1px; }
html.ie7 .subhead ul.drop-menu { display: block; padding: 3px 0 0 0; margin: 3px 0; background: #fff; top: 23px; }
.ie7 .a-pg .subhead ul { background: none; margin: -2px 0 0 0; }
.ie7 .subhead .drop-menu li, .ie8 .subhead .drop-menu li { display: block; padding: 0; margin: 0; height: inherit; }
.ie7 .subhead .drop-menu li a, .ie8 .subhead .drop-menu li a { display: block; padding: 3px 0 5px 9px; margin: 3px 0 5px; }
.ie7 .subhead .drop-menu li a:hover, .ie8 .subhead .drop-menu li a:hover { background: #eee; }
.ie8 .subhead { background-position: 0 1px; }
.ie8 .subhead ul li.drop { top: 2px; }
html.ie8 .subhead ul.drop-menu { display: block; padding: 3px 0 0 0; margin: 3px 0; background: #fff; top: 23px; }



/*** All Assignment Page ***/
#container.a-all .subhead h2 { font-size: 24px; display: inline-block; vertical-align: top; margin: 0 6px 0 0; }
.ie7 #container.a-all .subhead h2 { display: inline; zoom: 1; }
.a-all .subhead .drop-container span { -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; border-top-right-radius: 2px; }
.a-all .subhead .drop span { border-bottom: 1px solid #bababa; }
.a-all .subhead .drop span a { background-position: 54px -16px; }
.a-all .subhead .drop span:hover { border-bottom: none; margin: 0 0 1px -4px; }
.a-all .subhead .drop .item { padding: 0 34px 0 0; text-decoration: none; }
.oldie #container.a-all .subhead h2 { background: none; }

.all-as-module { margin: 0 0 9px -10px; }  
.all-as-module li { display: inline-block; vertical-align: top; width: 212px; margin: 0 0 23px 9px; }  
.ie7 .all-as-module li { display: inline; zoom: 1; }  
.all-as-module li img { border: 1px solid #fff; -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75); -moz-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75); box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75); }  
.all-as-module li h3 { margin: 7px 0; font-size: 15px; }  
.all-as-module li p { font-size: 13px; }  

/*** profile page ***/
#container.prof-page .subhead h2 { font-size: 24px; padding: 0 0 10px; }
.prof-page .subhead h2 em { font-style: normal; color: #bb0000; }
#container.prof-page { position: relative; }
.prof-page #main { margin: 0 0 0 314px; }
.prof-page #aside { position: absolute; top: 187px; left: 0; }
.ie7 .prof-page #aside { position: absolute; top: 215px; left: 0; }
#map-about { margin: 0 0 25px; position: relative; }
#map-about em { position: absolute; top: 10px; right: 0; font-size: 13px; }
.prof-map { border: 1px solid #bababa; -webkit-box-shadow: 0px 1px 0px #ffffff; -moz-box-shadow: 0px 1px 0px #ffffff; box-shadow: 0px 1px 0px #ffffff;}

.user-info { margin: 0 0 34px 0; }
.user-info img { display: inline-block; vertical-align: top; width: 60px; height: 60px; margin: 0 9px 0 0; } 
.ie7 .user-info img { display: inline; zoom: 1; width: 60px; height: 60px; margin: 0 0 0 0; } 
.user-info ul { display: inline-block; vertical-align: top; width: 200px; font-size: 13px; font-weight: bold; } 
.ie7 .user-info ul { display: inline; zoom: 1; width: 200px; font-size: 13px; font-weight: bold; } 
.user-info ul li { margin: 0 0 5px 0; } 
.user-info ul li em { font-weight: normal; } 

.contrib-module h2 { padding: 0 0 6px 0; margin: 0 0 10px 0; }
.contrib-module ul li { margin: 0 0 10px 0; }
.contrib-module ul li  a { font-size: 14px; font-weight: bold; color: #183a52; text-shadow: 0px 1px 0px white; }

 #container.prof-page .thumb-overlay h2 { margin: 10px 0 0 10px; }
 #container.prof-page .thumb-overlay .time-stamp { position: absolute; bottom: 4px; left: 0; text-transform: none; }
 #container.a-pg .thumb-overlay h2 { margin: 10px 0 0 10px; }
 #container.a-pg .thumb-overlay .time-stamp { position: absolute; bottom: 4px; left: 0; text-transform: none; }

.oldie .contrib-module h2 { padding: 0 0 10px 0; background-position: 0 0; }
.ie8 .prof-page .btm-pag li a { margin: 5px 0 0 0; }
html.ie8 .prof-page#container .subhead h2, html.ie7 .prof-page#container .subhead h2 { background-position: 0 7px; padding: 0 0 18px 0; }
html.ie7 .prof-page .subhead.bottom-line { background: url(../img/hr.png) repeat-x 0 15px; }
html.ie8 #container.prof-page .subhead.bottom-line { background-position: 0 13px; padding: 0 0 1px 0; margin: 0 0 8px 0; }

/*** results page ***/
#container.results .subhead h2 { font-size: 24px; padding: 0 0 10px; color: #2b2b2b; background: none; }
.ie8 #container.results .subhead, .ie7 #container.results .subhead { height: 125px; background-position: 0 36px; }
.results .subhead h2 em { font-style: normal; color: #bb0000; }
.ie7 .result-list, .ie8 .result-list { margin: -59px 0 0 0; }  
.result-list li { margin: 0 0 24px 0; }  
.result-list img { display: inline-block; vertical-align: top; margin: 0 12px 0 0; }  
.result-list div { display: inline-block; vertical-align: top; width: 432px; }  
.ie7 .result-list img { display: inline; zoom: 1; }  
.ie7 .result-list div { display: inline; zoom: 1; }  
.result-list span { display: block; margin: 0 0 7px 0; font-size: 13px; font-weight: bold; color: #183a52; }  
#container .result-list h2 { display: block; margin: 0 0 7px 0; font-size: 16px; font-weight: bold; color: #183a52; }  
.result-list p { font-size: 12px; margin: 0 0 7px 0; }  
.result-list em { font-size: 12px;}  
.result-list em a { font-style: normal; color: # 183a52; font-weight: bold; }  
.result-list em strong { font-style: normal; }  

/*** form page ***/
#container.upload-page #main h2 { font-size: 23px; margin: 0 0 12px 0; }
#container.upload-page #main img { display: inline-block; vertical-align: top; margin: 0 12px 0 0; border: 1px solid #fff; -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75); -moz-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75); box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75); }
.ie7 #container.upload-page #main img { display: inline; zoom: 1; }
#container.upload-page #main .summary { padding: 0 0 14px 0; margin: 0 0 14px 0; border-bottom: 1px solid #BABABA; -webkit-box-shadow: 0px 1px 0px #fff; -moz-box-shadow: 0px 1px 0px #fff; box-shadow: 0px 1px 0px #fff; }
.oldie #container.upload-page #main .summary { background: url(../img/hr.png) repeat-x 0 137px; border: none; }
#container.upload-page #main .summary div { display: inline-block; vertical-align: top; width: 431px; }
.ie7 #container.upload-page #main .summary div { display: inline; zoom: 1; }
#container.upload-page #main .summary h3 { font-size: 18px; margin: 0 0 8px 0; }
#container.upload-page #main .summary p { font-size: 12px; margin: 0 0 8px 0; }
.upload-page label { font-size: 18px; font-weight: bold; margin: 0 5px 3px 0; display: inline-block; vertical-align: top; } 
.ie7 .upload-page label { display: inline; zoom: 1; } 
.upload-page #main input { width: 652px; height: 37px; margin: 0 0 23px -1px; padding: 0 0 0 10px; font-size: 18px; color: #333; border: 1px solid #999; -webkit-box-shadow: 0px 1px 0px #fff; -moz-box-shadow: 0px 1px 0px #fff; box-shadow: 0px 1px 0px #fff; background: #fff url(../img/input-bg.png) repeat-x 0 0; }
.oldie .upload-page #main input { height: 31px; padding: 6px 0 0 10px; }
.upload-page textarea { width: 652px; height: 118px; margin: 0 0 23px -1px; padding: 10px 0 0 10px; font-size: 18px; color: #333; border: 1px solid #999; -webkit-box-shadow: 0px 1px 0px #fff; -moz-box-shadow: 0px 1px 0px #fff; box-shadow: 0px 1px 0px #fff; background: #fff url(../img/input-bg.png) repeat-x 0 0; outline: none; }

.upload-page span.error { float: right; font-size: 13px; font-weight: normal; margin: 4px 0 0 0; color: #bb0000; } 
.ie7 .upload-page span.error { margin: -18px 0 0 0; } 
.upload-page span { display: inline-block; vertical-align: top; font-size: 13px; font-weight: normal; margin: 3px 317px 0 0; } 
.ie7 .upload-page span { display: inline; zoom: 1; } 
.upload-page .upload-spec { margin: 14px 0 0 10px; font-style: italic; }
.upload-page .double-button { margin: 0 0 5px 0; }
.upload-page .uplist { margin: 0 0 28px 0; }
.ie9 .upload-page .uplist, .oldie .upload-page .uplist { margin: 13px 0 28px 0; }
.upload-page .uplist li { background: url(../img/ureport-icon-sprite.png) no-repeat 0 -337px; padding: 0 0 0 20px; margin: 0 0 5px 0; }
.upload-page .uplist li span { width: 55px; height: 15px; cursor: pointer; background: url(../img/ureport-icon-sprite.png) no-repeat 0 -543px; margin: 2px 0 0 5px; }
.upload-page .loc-cont { width: 229px; margin: 0 4px 0 0; display: inline-block; vertical-align: top; }  
.ie7 .upload-page .loc-cont { display: inline; zoom: 1; }  
.upload-page #main .location-input { width: 215px; margin: 0 0 17px 0; color: #bfbfbf; }
.upload-page #main .location-input:focus { color: #000; }
.oldie .upload-page #main .location-input { padding: 6px 0 0 10px; height: 31px; }

.upload-page .map-cont { display: inline-block; vertical-align: top; margin: 0 0 37px 0; background-color: rgba(0,0,0,0.16); border-top: 1px solid #999; border-bottom: 1px solid #fff; }
.oldie .upload-page .map-cont { background: #cacaca; }
.ie7 .upload-page .map-cont { display: inline; zoom: 1; }
.upload-page .map { margin: 7px; width: 410px; height: 175px; }
#container.upload-page #main .map img { margin: 0; }
.upload-page .checkbox { width: 20px; height: 20px; margin: 0 12px 0 0; background: #fff url(../img/input-bg.png) repeat-x 0 0; border: 1px solid #999; -webkit-box-shadow: 0px 1px 0px #fff; -moz-box-shadow: 0px 1px 0px #fff; box-shadow: 0px 1px 0px #fff; }
.upload-page .check { width: 18px; height: 18px; background: url(../img/ureport-icon-sprite.png) no-repeat -156px -588px; }
.upload-page .term-agree label { display: inline-block; vertical-align: top; margin: 2px 0 25px 0; }  
.ie7 .upload-page .term-agree label { display: inline; zoom: 1; }  
.upload-page .pop-icon { width: 14px; height: 15px; margin: 4px 0 0 5px; background: url(../img/ureport-icon-sprite.png) no-repeat 0 -361px; }

.upload-page #main { margin: 0 9px 30px 0; }

/*** form success ***/
#container.success-page #main h2 { font-size: 23px; margin: 0 0 12px 0; }
.success-page #main p { font-size: 13px; margin: 0 0 12px 0; }
.success-page em { display: block; font-size: 13px; margin: 0 0 30px 0; }
.success-page em a { font-size: 13px; font-weight: bold; font-style: normal; }
.success-page .btm-explore h3 { font-size: 18px; padding: 0 0 5px 0; margin: 0 0 12px 0; }
.oldie .success-page .btm-explore h3 { background-position: 0 -2px; padding: 0 0 8px 0; }
.success-page .btm-explore ul { margin: 0 0 0 -7px; } 
.ie7 .success-page .btm-explore ul { margin: 0 0 0 -12px; } 
.success-page .btm-explore li { display: inline-block; vertical-align: top; width: 212px; margin: 0 0 0 8px; } 
.ie7 .success-page .btm-explore li { display: inline; zoom: 1; margin: 0 0 0 12px } 
.success-page .btm-explore li img { margin: 0 0 8px 0; border: 1px solid #fff; -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75); -moz-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75); box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75); } 
.success-page .btm-explore li span { display: block; font-size: 13px; font-weight: bold; margin: 0 0 8px 0; } 

/*** about page ***/
#container.about-page h2 { font-size: 24px; margin: 0 0 24px 0; padding: 0 0 15px 0; font-weight: normal; }
#container.about-page h2 em { font-weight: bold; font-style: normal; }
.about-page .about-list { text-shadow: 0px 1px 0px white; } 
.about-page .about-list { margin: 0 0 0 -9px; } 
.about-page .about-list li { position: relative; width: 480px; margin: 0 0 30px 9px; display: inline-block; vertical-align: top; } 
.ie7 .about-page .about-list li { display: inline; zoom: 1; } 
.about-page .about-list li span { display: inline-block; vertical-algin: top; width: 77px; height: 60px; padding: 16px 0 0 0; background: url(../img/ureport-icon-sprite.png) no-repeat -56px -534px; font-size: 36px; font-weight: bold; text-align: center; } 
.ie7 .about-page .about-list li span { display: inline; zoom: 1; } 
.about-page .about-list li .sub-con { display: inline-block; vertical-align: top; width: 387px; margin: 0 0 0 11px; }  
.ie7 .about-page .about-list li .sub-con { display: inline; zoom: 1; }  
.about-page .about-list li .sub-con h3 { font-size: 27px; font-weight: bold; display: block; margin: 25px 0 10px 0; }  
.about-page .about-list li p { font-size: 13px; } 
.about-page .about-list li:first-child p { font-size: 13px; margin: 0 0 20px 7px; }
.about-page .about-list .sub-con .p-1 { position: absolute; font-size: 13px; width: 212px; right: 9px; top: 69px; } 
.about-page .about-list .sub-con .utip-img { display: inline-block; vertical-align: top; margin: 12px 0 0 0; } 
.ie7 .about-page .about-list .sub-con .utip-img { display: inline; zoom: 1; } 
.about-page .about-list .sub-con .p-2 { display: inline-block; vertical-align: top; width: 321px; margin: 12px 0 12px 7px; } 
.ie7 .about-page .about-list .sub-con .p-2 { display: inline; zoom: 1; } 
.about-page .about-list .sub-con .p-3 { position: absolute; top: 291px; right: 13px; width: 200px; } 
.about-page .about-list li+li+li+li img { margin: 0 0 12px 0; }
.about-page .about-list li+li+li+li+li p { margin: 0 0 12px 7px; }
.about-page .about-list li+li+li+li+li+li img { margin: 43px 0 0 49px; }
.about-page .about-list li+li+li+li+li+li span { background: none; position: absolute; top: 174px; right: -37px; width: 300px; font-size: 25px; text-align: left; }
.about-page .about-list li+li+li+li+li+li p { position: absolute; top: 270px; right: 75px; font-size: 16px; font-weight: bold; }
.about-page .about-list li+li+li+li+li+li p .browse { float: none; font-size: 16px; padding: 0 13px 0 0; background-position: 114px -42px; }

.ie8 .about-page .bottom-line, .ie7 .about-page .bottom-line { background-position: 0 11px; }


/*** double buttons ***/
.double-button { height: 38px; background-color: rgba(0,0,0,0.16); display: inline-block; vertical-align: middle; padding: 4px 6px 0; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border-top: 1px solid #858585; border-bottom: 1px solid #fff; }
.double-button a { display: table-cell; vertical-align: middle; height: 32px; padding: 0 24px; font-size: 14px; font-weight: bold; border-top: 1px solid #fff; border-bottom: 1px solid #858585; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; background: #e8e8e8; background: -moz-linear-gradient(top, #e8e8e8 0%, #c4c4c4 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#c4c4c4)); background: -webkit-linear-gradient(top, #e8e8e8 0%,#c4c4c4 100%); background: -o-linear-gradient(top, #e8e8e8 0%,#c4c4c4 100%); background: -ms-linear-gradient(top, #e8e8e8 0%,#c4c4c4 100%); background: linear-gradient(top, #e8e8e8 0%,#c4c4c4 100%); }
.double-button a:hover { background: #fff; text-decoration: none; }
.double-button a:active { border: 0; background: white; -webkit-box-shadow: inset 0px 0px 6px rgba(50, 50, 50, 0.40); -moz-box-shadow: inset 0px 0px 6px rgba(50, 50, 50, 0.40); box-shadow: inset 0px 0px 6px rgba(50, 50, 50, 0.40); background: -moz-linear-gradient(top, #E0E0E0 0%, white 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E0E0E0), color-stop(100%,white)); background: -webkit-linear-gradient(top, #E0E0E0 0%,white 100%); background: -o-linear-gradient(top, #E0E0E0 0%,white 100%); background: -ms-linear-gradient(top, #E0E0E0 0%,white 100%); background: linear-gradient(top, #E0E0E0 0%,white 100%); } 
body:not(:-moz-handler-blocked) .double-button { padding: 5px 6px 0px; height: 37px; outline: none; }
.double-button.red-butt { padding: 5px 6px 0px; height: 39px; outline: none; }
.double-button.red-butt a { background: #a30707; color: #fff; border-top: 1px solid #b83737; border-bottom: none; text-shadow: 0 1px 0px #000; -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1); -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1); box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1); }
.double-button.red-butt a:hover { background: #cc0a0a; border-top: 1px solid #d63737; text-decoration: none; }
.double-button.red-butt a:active { border-top: 1px solid #650000; background-image: linear-gradient(bottom, #8F0B0B 5%, #650000 100%); background-image: -o-linear-gradient(bottom, #8F0B0B 5%, #650000 100%); background-image: -moz-linear-gradient(bottom, #8F0B0B 5%, #650000 100%); background-image: -webkit-linear-gradient(bottom, #8F0B0B 5%, #650000 100%); background-image: -ms-linear-gradient(bottom, #8F0B0B 5%, #650000 100%); background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, #8F0B0B), color-stop(1, #650000)); }

.ie9 .double-button, .oldie .double-button { height: initial; width: initial; border: none; border-radius: 0; margin: 0; padding: 0; background: none; display: inline; zoom: 1; } 
.ie9 .double-button a:hover, .oldie .double-button a:hover { background-position: -80px -121px; }
.ie9 .double-button a:active, .oldie .double-button a:active { background-position: -80px -162px; box-shadow: inset 0px 0px 0px rgba(50, 50, 50, 0.40); }
.ie9 .double-button a, .oldie .double-button a { height: 41px; width: 110px; padding: 0; text-align: center; border: none; border-radius: 0; background: url(../img/ie-ureport-sprite.png) no-repeat -80px -80px; color: #333333; }
.ie7 .double-button a { display: block; height: 30px; width: 110px; padding: 11px 0 0 0; text-align: center; border: none; border-radius: 0; background: url(../img/ie-ureport-sprite.png) no-repeat -80px -80px; color: #333333; }
.ie9 .double-button.red-butt, .oldie .double-button.red-butt { height: initial; width: initial; border: none; border-radius: 0; margin: 0; padding: 0; background: none; box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1); }
.ie9 .double-button.red-butt a, .oldie .double-button.red-butt a { height: 44px; width: 159px; padding: 0; text-align: center; border: none; border-radius: 0; background: url(../img/ie-ureport-sprite.png) no-repeat -191px -80px; color: #333333; box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1); color: #fff; } 
.ie7 .double-button.red-butt a { display: block; height: 30px; width: 159px; padding: 13px 0 0 0; text-align: center; border: none; border-radius: 0; background: url(../img/ie-ureport-sprite.png) no-repeat -191px -80px; color: #333333; box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1); color: #fff; } 
.ie9 .double-button.red-butt a:hover, .oldie .double-button.red-butt a:hover { background-position: -349px -80px; } 
.ie9 .double-button.red-butt a:active, .oldie .double-button.red-butt a:active { background-position: -191px -124px; } 

/*** get started pop ***/
.get-started-tab { position: fixed; top: 246px; right: 0; }
.get-started-tab a { display: block; background: url(../img/ureport-icon-sprite.png) no-repeat -94px -76px; width: 52px; height: 129px; z-index: 9999; }

/*** Footer ***/
#footer { min-width: 982px; padding: 16px 14px; border-top: 3px solid #989797; background: #333; }
#footer > div { width: 972px; margin: 0 auto; position: relative; font-size: 11px; }
#footer .branding { margin: 0 12px 0 0; float: left; }
#footer .branding + ul { margin: 0 0 30px; overflow: hidden; list-style: none; }
#footer .branding + ul li { margin: 0 0 4px 6px; padding-left: 6px; border-left: 1px solid #999; float: left; font-weight: bold; font-size: 11px; line-height: 1.1; }
#footer .branding + ul li:first-child { margin: 0; padding: 0; border: 0 none; }
#footer .branding + ul li a { color: #fff; letter-spacing: normal; }
#footer .social { width: auto; position: absolute; top: 0; right: 3px; }
#footer .social li { margin: 0 0 0 3px; float: left; }
#footer .social li a { width: 12px; height: 12px; display: block; background: url("http://assets.filemobile.com/585/img/bg-icon-media.png") no-repeat 0 0; color: #fff; text-indent: -9999px; }
#footer .social li .s-1 { background-position: -24px 0; }
#footer .social li .s-1:hover { background-position: 0 0; }
#footer .social li .s-2 { background-position: -24px -12px; }
#footer .social li .s-2:hover { background-position: 0px -12px; }
#footer .social li .s-3 { background-position: -24px -36px; }
#footer .social li .s-3:hover { background-position: 0 -36px; }
#footer .social li .s-4 { background-position: -24px -48px; }
#footer .social li .s-4:hover { background-position: 0 -48px; }
#footer .social li .s-5 { background-position: -24px -60px; }
#footer .social li .s-5:hover { background-position: 0 -60px; }
#footer .copyright { color: #999; font-size: 11px; letter-spacing: normal; }
#footer .copyright a { color: #fff; }
#footer .copyright a:hover { text-decoration: none; }

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
